@import 'base';
@import 'tipography';
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Delius);

body {
  background-color: $body-color;
  padding-bottom: 500px;
}

#myCarousel {
    top: 50px;
    margin-bottom: 50px;
}

.nav-blue {
  background-color: $azul;
  border-bottom: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 2px #000;
}

.navbar-header .navbar-brand {
  color: $amarelo;
  font-family: 'Montserrat', sans-serif;
}

.navbar-header .navbar-brand:hover {
  color: $branco;
}

.carousel-caption a {
  font-family: 'Fjalla One', sans-serif;
  color: $amarelo;
}

.carousel-caption a:hover {
  text-decoration: none;
  color: $branco;
}

#navbar a {
  color: $amarelo;
}

#navbar a:hover {
  color: $branco;
}

.frase {
  padding: 20px 0 20px 0;
  margin: 0;
  background-color: $amarelo;
}

.container-frase {
  text-align: center;
  color: $azul;
}

.container-frase h1 {
  font-family: 'Delius', cursive;
}

.container-frase h2 {
  font-family: 'Montserrat', sans-serif;
}

.h3-title {
  font-family: 'Montserrat', sans-serif;
  color: $azul;
  margin-left: 15px;
}

.row-in {
  margin: 20px 0 0 0;
  padding: 0;
}

.row-in img {
  width: 100%;
}

.row-in .col-md-8 .caption {
  color: $amarelo;
  text-shadow: 3px 2px 0px $azul;
  text-align: right;
  padding: 0 20px 20px 20px;
  width:95%;
  bottom: .3rem;
  position: absolute;
}

.row-in .col-md-8 .caption:hover {
  color: #fff;
}

.news-1 {
  background-color: #000;
}

.row-in .col-xs-12 {
  margin-bottom: 15px;
}

.nice-padding-news {
  background-color: $azul;
  margin-top: 0;
  padding: 10px;
}

.nice-padding-news a {
  color: $amarelo;
}

.nice-padding-news a:hover {
  color: #fff;
  text-decoration: none;
}

.title {

}