@import 'base';
@import 'tipography';
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Delius);

body {
  background-color: $body-color;
}

a {
  text-decoration: none;
}

#myCarousel {
    top: 50px;
    margin-bottom: 50px;
}

.nav-blue {
  background-color: $azul;
  border-bottom: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 2px #000;
}

.navbar-header .navbar-brand {
  color: $amarelo;
  font-family: 'Montserrat', sans-serif;
}

.navbar-header .navbar-brand:hover {
  color: $branco;
}

.carousel-caption a {
  font-family: 'Fjalla One', sans-serif;
  color: $amarelo;
}

.carousel-caption a:hover {
  text-decoration: none;
  color: $branco;
}

#navbar a {
  color: $amarelo;
}

#navbar a:hover {
  color: $branco;
}

/************************
NOTICIAS
************************/

.h3-title {
  font-family: 'Montserrat', sans-serif;
  color: $azul;
  margin-left: 15px;
}

.row-in {
  margin: 20px 0 0 0;
  padding: 0;
}

.row-in img {
  width: 100%;
}

.row-in .col-md-8 .caption {
  color: $amarelo;
  text-shadow: 3px 2px 0px #000;
  text-align: right;
  padding: 0 20px 20px 20px;
  width:95%;
  bottom: .3rem;
  position: absolute;
}

.black-bg-hover {
  background-color: #000;
}

.row-in-col-1 img {
  opacity: 0.8;
}

.row-in-col-1:hover img {
  opacity: 0.6;
}

.row-in .col-xs-12 {
  margin-bottom: 15px;
}

.nice-padding-news {
  background-color: $amarelo;
  margin-top: 0;
  padding: 10px;
}

.nice-padding-news a {
  color: $azul;
  text-decoration: none;
}
/************************
FRASE
************************/
.frase {
  padding: 20px 0 20px 0;
  margin: 0;
  background-color: $azul;
}

.container-frase {
  text-align: center;
  color: $amarelo;
}

.container-frase h1 {
  font-family: 'Delius', cursive;
}

.container-frase h2 {
  font-family: 'Montserrat', sans-serif;
}

.bordered-black {
  border: 1px solid #333;
}

/************************
MIDIAS
************************/

#sec-midias .col-md-4 {
  padding: 8px;
}

.sec-3-1 {
  text-align: center;
  color: $amarelo;
  padding: 25px 0 10px 0;
  background: $azul; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient($azul, #272C38); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient($azul, #272C38); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient($azul, #272C38); /* For Firefox 3.6 to 15 */
  background: radial-gradient($azul, #272C38); /* Standard syntax */
}

.sec-3-1:hover {
  text-align: center;
  padding: 25px 0 10px 0;
  background: $azul; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#272C38, $azul); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#272C38, $azul); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#272C38, $azul); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#272C38, $azul); /* Standard syntax */
}

.big-icon {
  font-size: 32px;
}

/************************
FOOTER
************************/
.sec-footer {
  height: 120px;
  background-color: $azul;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.row-with-padding {
  padding: 50px 10px 20px 10px ;
}